*{
    margin: 0 auto;
    padding: 0;
    font-family: Roboto;
    font-size: 12px;
    box-sizing: border-box;
}

body{
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 100%;
    padding: 5% 20%;
}
#computerChoice{
    border: 1px solid black;
    flex: 1;
    width: 100%;
    padding: 40px 16px;
}

.rpsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 32px;
    width: 100%;
}

.hidden{
    display: none !important;
}

.rpsContainer button, #playAgain{
    padding: 12px 5px;
    width: 100%;
    border-radius: 40px;
    border: 0px;
    background-color:rgb(63, 154, 240);
    color: white;
    font-size: 16px;
}

.rpsContainer button, #playAgain:hover{
    background-color:rgb(106, 170, 230);
}