*{
    margin: 0 auto;
    padding: 0;
    font-family: Roboto;
    font-size: 12px;
    box-sizing: border-box;
}

body{
    width: 100%;
    padding: 5% 2%;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
}

#directionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#directionsContainer h1{
    font-size: 60px;
    font-weight: 900;
}

#directionsContainer h2{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 12px;
}

.rpsPlayers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
}

.playerContainer{
    border: 1px solid green;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 5% 2%;
}

.playerName{
    font-weight: 300;
    font-size: 36px;
    border: 1px solid blue;
    width: 100%;
    text-align: center;
}

.rpsContainer {
    display: flex;
    min-height: 160px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 5px;
    width: 100%;
    padding: 12px 0px;
    border: 1px solid blue;
    flex-wrap: wrap;
}

.hidden{
    display: none !important;
}

.rpsContainer button, #playAgain{
    padding: 12px 10px;
    width: 100%;
    border-radius: 40px;
    border: 0px;
    background-color:rgb(63, 154, 240);
    color: white;
    cursor: pointer;
}

.rpsContainer button, #playAgain:hover{
    background-color:rgb(106, 170, 230);
}

.rpsContainer button {
    max-height: 52px;
    max-width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1;
    flex: 1;
    gap: 8px;
}

.rpsContainer button>p{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.emojiWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 0;
    margin: 0;
}

.emoji{
    font-size: 3em;
    display: inline-block;
    padding: 0;
    margin: 0;
    transform: rotate(-90deg) scaleY(-1);
}

#computerChoice{
    background-color: rgb(225, 243, 255);
}

.scoreContainer{
    border: 1px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 36px;
}

.scoreTitle, .scoreNumber{
    font-size: 18px;
    border: 1px solid green;
    margin: 0;
    width: 100%;
    text-align: center;
}

.scoreTitle{
    text-decoration: underline;
}

.scoreNumber p{
    font-size: 24px;
    width: 100%;
}

#roundResult{
    border: 2px solid black;
    justify-items: center;
    margin: 14px 0;
    padding: 14px;
}

#roundResult p {
    font-size: 18px;
}

#playAgainContainer{
    border: 1px solid orange;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
}

#playAgainContainer p{
    font-size: 24px;
}

#playAgainContainer button {
    max-width: 160px;
    margin-top: 14px;
}